body {
  margin: 0;
  background: url("../assets/BGcomic2.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

* {
  margin: 0;
  font-family: "Caveat", cursive;
}

h1 {
  font-family: "Lobster", cursive;
}
