body {
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(179, 17, 165, 0.479) 0,
    rgba(39, 1, 48, 0.75) 50%,
    rgba(111, 6, 6, 0.494) 100%
  );
  background-size: cover;
  overflow-x: hidden;
}

* {
  margin: 0;
  font-family: "Caveat", cursive;
}

h1 {
  font-family: "Lobster", cursive;
}
