header {
  //   background: url("../assets/Banner.webp");
  background-size: cover;
  text-align: center;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    112.1deg,
    rgb(0, 0, 0) 11.4%,
    rgba(0, 0, 0, 0.628) 70.2%
  );
}

.titleMouffetteBox {
  background-color: rgba(79, 5, 140, 0.792);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.logoMouffette {
  height: 12vh;
  border: 3px solid rgba(79, 5, 140, 0.792);
  border-radius: 50%;
}
