.mainContainer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(32, 32, 32, 0.792);
  max-width: 78rem;
  margin: 0rem auto;

  border-radius: 10px;
  -webkit-animation: slide-in-elliptic-bottom-fwd 1.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-bottom-fwd 1.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mainContainerImgBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.buttonCollapse {
  min-width: 24rem;
  border: 0px;
  background-color: rgba(155, 79, 218, 0.572);
  transition: 400ms ease-out;
  margin-bottom: 1rem;
}

.buttonCollapse:hover {
  filter: brightness(1.5);
}

.textButtons {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapseBox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bdImg {
  height: 50vh;
  transition: 400ms ease-out;
  width: 24rem;

  padding: 0.8rem 0;
}

@media screen and (max-device-width: 1262px) {
  .mainContainer {
    max-width: 52rem;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .collapseBox {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

@media screen and (max-device-width: 838px) {
  .mainContainer {
    max-width: 26rem;
  }
}

@media screen and (max-device-width: 406px) {
  .mainContainer {
    border-radius: 0px;
  }
  .bdImg {
    width: 98%;
  }
}
