.cursor {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 00ms ease-out, border-radius 250ms ease-out;
  z-index: 9999;
  backdrop-filter: invert(80%);
  transition: 30ms ease-in;
}

.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
