.presentContainer {
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  background-color: rgba(32, 32, 32, 0.792);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  max-width: 78rem;
  -webkit-animation: slide-in-elliptic-top-fwd 1.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  overflow: hidden;
  z-index: -1;
}

.presentBox {
  background-color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 15px;
  width: 45%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: justify;
  transition: 400ms ease-out;
}

.presentBox:hover {
  background-color: rgba(1, 1, 1, 0.816);
  color: white;
  transform: scale(1.02);
}
.presentBox2 {
  background-color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 15px;
  width: 94%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: justify;
  transition: 400ms ease-out;
}

.presentBox2:hover {
  background-color: rgba(1, 1, 1, 0.816);
  color: white;
  transform: scale(1.02);
}

.SoutineButton {
  background: linear-gradient(
    90deg,
    rgba(2, 175, 25, 0.788) 0%,
    rgba(35, 254, 42, 0.622) 35%,
    rgba(103, 255, 136, 0.822) 100%
  );
  color: black;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  width: 94%;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  transition: 400ms ease-out;
}

.SoutineButton:hover {
  filter: brightness(1.5);
  text-shadow: 0px -1px 13px rgb(0, 0, 0);
}

@media screen and (max-device-width: 1262px) {
  .presentContainer {
    max-width: 52rem;
  }
  .presentBox {
    width: 43%;
    min-height: 11rem;
  }
  .presentBox2 {
    width: 92%;
  }
}

@media screen and (max-device-width: 838px) {
  .presentContainer {
    max-width: 26rem;
    flex-direction: column;
  }
  .presentBox {
    width: 85%;
  }
  .presentBox2 {
    width: 85%;
  }
  .SoutineButton {
    width: 85%;
  }
}

@media screen and (max-device-width: 406px) {
  .presentContainer {
    border-radius: 0px;
  }
  .bdImg {
    width: 98%;
  }
}
